.black {
  background-color: #000000;
}
.white {
  background-color: #ffffff;
}

table {
    margin: 0 auto;
    border: 2px solid black;
}
td {
    height: 200px;
    width: 100px;
}

.body {
  background-color: red;
}
